body {
    font-family: Arial, sans-serif;
    background-color: #afdde5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}
input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #05505a;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #05505a;
}
.filters {
    margin-top: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #05505a;
    color: white;
}
.error {
    color: red;
}